{% extends "terminimal/templates/index.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/sidebar.css">
{% endblock %}

{% block content %}
<div class="content-with-sidebar">
    <div class="main-content">
        <div class="posts">
            {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
            {% else %}
                {%- set show_pages = section.pages -%}
            {% endif -%}

            {%- for page in show_pages %}
                <div class="post on-list">
                    {{ post_macros::header(page=page) }}
                    {{ post_macros::content(page=page, summary=true, show_only_description=page.extra.show_only_description | default(value=false)) }}
                </div>
            {% endfor -%}
        </div>
    </div>

    <aside class="sidebar">
        <div class="sidebar__inner">
            <h3>📌 태그</h3>
            <div class="sidebar-tags">
                {% set tags = get_taxonomy(kind="tags") %}
                {% for term in tags.items | sort(attribute="name") %}
                    <a class="post-tag" href="{{ term.permalink | safe }}">#{{ term.name }} ({{ term.pages | length }})</a>
                {% endfor %}
            </div>
        </div>
    </aside>
</div>
{% endblock %}